$test: aquamarine;

body {
  background-color: $test;
}

$white-background: #fff;
$yellow: #ffc600;

$text-padding: 20px;

/* Loading Screen Styling */

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: $yellow;
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

/* Loading Screen Styling Ends */

::selection {
  background-color: $yellow;
}

.body:not(.home) .column {
  margin-top: 150px;
}
