span.btn {
  margin: 20px 0 0 0;
  display: block;
}

span.btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: $yellow;
  font-size: 18px;
  padding: 5px 40px 6px;
  position: relative;
  border: 4px solid $yellow;
  display: inline-block;
  transition: all 0.2s ease-out;
  box-shadow: 6px 6px 0 0 $yellow;
  font-weight: 600;
}

span.btn a:hover {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 0 $yellow;
}

// RESERVER KNAP

span.btn-stel {
  display: block;
}

span.btn-stel a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
  padding: 4px 25px 5px;
  position: relative;
  border: 2px solid $yellow;
  display: inline-block;
  transition: all 0.2s ease-out;
  box-shadow: 3px 3px 0 0 #333;
  font-weight: 600;
}

span.btn-stel a:hover {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 0 #333;
  color: $yellow;
}

// BURGER MENU

.menu-btn {
  position: fixed;
  top: 30px;
  right: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /*   border: 3px solid #555;    */
  background: #555;
  z-index: 1000;
}

header.scrolled-header .menu-btn {
  position: unset;
}
/* This creates the middle line */
.menu-btn__burger {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

/* This creates the top and bottom lines but it does not position them */
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

/* This positions the top and bottom lines */
.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

/* Animation */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-25px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(17.5px, -17.5px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(17.5px, 17.5px);
}

@media screen and (min-width: 767px) {
  .menu-btn {
    display: none;
  }
}
