#splash {
  position: relative;
  background-image: url(/assets/amagerbrogade.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

// #splash::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   background-color: rgba(0, 0, 0, 0.33);
// }

#splash .logo {
  position: absolute;
  max-width: 300;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-40%);
}

@keyframes drift {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  opacity: 0.6;
  position: absolute;
  top: 90%;
  left: 0;
  width: 300%;
  height: 300%;
  border-radius: 33%;
  animation: drift 20s infinite linear;
  background-color: $yellow;
}

.column {
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

.column {
  background-color: $white-background;
}

.intro-text {
  margin-bottom: 50px;
}

.animate-me,
.animate-me-2,
.animate-me-4 {
  width: calc(100% + 400px);
  position: relative;
  margin-top: 30px;
}

.animate-me-3 {
  position: relative;
  width: 400px;
  bottom: 100px;
  right: -85%;
  opacity: 0.2;
}

.animate-me,
.animate-me-2,
.animate-me-4 {
  left: -200px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: unset;

  min-height: 200px;
  //   border: 1px solid #333;

  .number {
    font-size: 100px;
    color: $yellow;
    justify-self: center;
    margin: 0;
    font-weight: 400;

    h2 {
      font-weight: 400;
    }
  }

  .step-text {
    align-self: center;
    text-transform: uppercase;
    font-size: 22px;
  }

  .step-grafik {
    align-self: center;
    justify-self: center;
  }

  img {
    padding: 20px 0 0 0;
    width: 200px;
  }
}

.instagram {
  margin: 50px 0 0 0;

  h2 {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
    font-size: 50px;
    margin: 0 0 30px;
  }
}

.instafeed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1140px) {
  .column {
    padding: 0 2%;
  }

  .animate-me-3 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .steps {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 2fr;

    .number {
      justify-self: left;

      h2 {
        padding: 0 20px;
      }
    }

    .step-text {
      grid-column: 1/3;
      grid-row: 2/3;
      padding: 0 20px;
      margin-bottom: 30px;
    }

    .step-grafik {
      justify-self: left;
    }

    img {
      max-width: 300px;
      padding: 20px 0 0 0;
      width: 200px;
    }
  }
}
