#splash {
  position: relative;
  background-image: url(/assets/amagerbrogade.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

// #splash::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   background-color: rgba(0, 0, 0, 0.33);
// }

#splash .logo {
  position: absolute;
  max-width: 300;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-40%);
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 16vh;
}

/* Animation */

.moving-waves > use {
  animation: wavy-moves 20s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.moving-waves > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.moving-waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.moving-waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.moving-waves > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes wavy-moves {
  0% {
    transform: translate3d(-92px, 0, 0);
  }
  100% {
    transform: translate3d(83px, 0, 0);
  }
}

/* MEDIA QUERY TIL BØLGERNE PÅ MOBL */
@media (max-width: 768px) {
  .waves {
    height: 60px;
    min-height: 60px;
  }
}

.column {
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

.column {
  background-color: $white-background;
}

.animate-me,
.animate-me-2,
.animate-me-4 {
  width: calc(100% + 400px);
  position: relative;
  margin: 30px 0;
}

.animate-me-3 {
  position: relative;
  width: 400px;
  bottom: 100px;
  right: -85%;
}

.animate-me,
.animate-me-2,
.animate-me-4 {
  left: -200px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;

  min-height: 200px;
  //   border: 1px solid #333;

  .number {
    font-size: 150px;
    color: $yellow;
    justify-self: center;
    margin: 0;
    font-weight: 400;

    h2 {
      font-weight: 400;
    }
  }

  .step-text {
    align-self: center;
    text-transform: uppercase;
    font-size: 25px;
  }
}
