.column-underside {
  text-align: center;
}

.om-sektion {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .om-text {
    max-width: 250px;
    margin: 0 50px;
  }

  img {
    max-width: 250px;
    // margin: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .om-sektion {
    flex-direction: column;
    align-items: center;

    .om-text {
      margin: 30px 0;
    }
  }
}
